appnope
asttokens
backcall
bcrypt
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
decorator
dnspython
email-validator
exceptiongroup
executing
Faker
flake8
Flask
Flask-Bcrypt
Flask-DebugToolbar
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
iniconfig
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
MarkupSafe
matplotlib-inline
mccabe
packaging
parso
pexpect
pickleshare
pluggy
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
pycodestyle
pycparser
pyflakes
Pygments
pytest
python-dateutil
requests
simplegeneric
six
soupsieve
SQLAlchemy
stack-data
text-unidecode
tomli
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
WTForms
